*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #222;
    color: white;
    height: 100%;
}

header{
    background-color: #333;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    margin: 20px;
    justify-content: center;
    flex-direction: column;
}

.field{
    display: flex;
}

.user, .computer{
    background-color: #333;
    margin: 20px;
    width: 400px;
    height: 200px;
    border-radius: .8rem;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.imgs{
    display: flex;
}

.box{
    flex-grow: 1;
    background-color: #444;
    height: 100px;
    width:100px;
    margin: 10px;
    border-radius: .8rem;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    outline: 1px solid rgb(0, 0, 0);
    box-shadow: 6px 6px 10px rgb(0, 0, 0);
}

.l{
    border: 3px solid #cc0000;
    box-shadow: 6px 6px 30px #cc0000;
}

.w{
    border: 3px solid #00ff37;
    box-shadow: 6px 6px 30px #00ff37;
}

.selected{
    outline: 1px solid rgb(0, 0, 0);
    box-shadow: 6px 6px 10px rgb(0, 0, 0);
}

.box2{
    display: flex;
    justify-content: space-between;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

button{
    display: none;
}

.tryagain{
    border: none;
    outline: none;
    padding: 14px 30px; 
    border-radius: .4rem;
    background-color: bisque;
}

.tryagain:hover{
    outline: 2px solid slategrey;
}

.tryagain:active{
    outline: 2px solid black;
}

footer{
    height: 40px;
    position: sticky;
    bottom: 0;
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: center;
}
footer img{
    height: 40px;
}

.results{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
    background-color: #333;
    border-radius: .7rem;
    padding: 40px;
}

ol{
    list-style-position: inside;
}